# dirs/files
data/
rules/
submissions/
models/
run_test

# os
.DS_Store

# compiles
__pycache__/
*.py[cod]

# jupyter
.ipynb_checkpoints
_*.ipynb

# misc
.vscode
todo.txt

# env
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
