beautifulsoup4==4.9.0
boto==2.49.0
boto3==1.13.0
botocore==1.16.0
bs4==0.0.1
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
docutils==0.15.2
filelock==3.0.12
future==0.18.2
gensim==3.8.2
idna==2.9
intel-openmp==2020.0.133
jmespath==0.9.5
joblib==0.14.1
mkl==2019.0
nltk==3.5
numpy==1.18.3
python-dateutil==2.8.1
regex==2020.4.4
requests==2.23.0
s3transfer==0.3.3
sacremoses==0.0.41
scikit-learn==0.22.2.post1
scipy==1.4.1
sentencepiece==0.1.86
six==1.14.0
smart-open==2.0.0
soupsieve==2.0
tokenizers==0.7.0
torch==1.5.0
tqdm==4.45.0
-e git://github.com/huggingface/transformers#egg=transformers
urllib3==1.25.9
